openapi: 3.0.0
info:
  title: api.gojekapi
  version: 1.0.0
servers:
  - url: 'https://api.gojekapi.com'
    description: api.gojekapi
paths:
  /gojek/v2/customer:
    get:
      summary: GET customer
      parameters:
        - $ref: '#/components/parameters/platform'
        - $ref: '#/components/parameters/gojekCountryCode'
        - $ref: '#/components/parameters/uniqueId'
        - $ref: '#/components/parameters/appVersion'
        - $ref: '#/components/parameters/appId'
        - $ref: '#/components/parameters/deviceOs'
        - $ref: '#/components/parameters/userType'
        - $ref: '#/components/parameters/phoneMake'
        - $ref: '#/components/parameters/phoneModel'
        - $ref: '#/components/parameters/pushTokenType'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                title: getCustomerDataResponse
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                  customer:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                      email:
                        type: string
                      phone:
                        type: string
                      number:
                        type: string
                      signed_up_country:
                        type: string
                      country_code:
                        type: string
                      email_verified:
                        type: boolean
                      locale:
                        type: string
                      locale_selection_type:
                        type: string
                      facebook_connected:
                        type: boolean
                      chat_id:
                        type: object
                      chat_token:
                        type: object
                      created_at:
                        type: string
                      bio:
                        type: object
                      profile_image_url:
                        type: object
      operationId: getCustomerData
      tags:
        - customer
  /v1/pickup-spots:
    get:
      summary: GET pickup spots
      operationId: getPickupSpots
      tags:
        - transport
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: getPickupSpotsResponse
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      type:
                        type: string
                      source_location:
                        type: object
                        properties:
                          place_id:
                            type: string
                          name:
                            type: string
                          address:
                            type: string
                          suggested_visibility_radius:
                            type: number
                      places:
                        type: array
                        items:
                          type: object
                          properties:
                            place_id:
                              type: string
                            name:
                              type: string
                            address:
                              type: string
                            latitude:
                              type: number
                            longitude:
                              type: number
                            distance_from_origin:
                              type: number
      parameters:
        - $ref: '#/components/parameters/platform'
        - $ref: '#/components/parameters/gojekCountryCode'
        - $ref: '#/components/parameters/uniqueId'
        - $ref: '#/components/parameters/appVersion'
        - $ref: '#/components/parameters/appId'
        - $ref: '#/components/parameters/deviceOs'
        - $ref: '#/components/parameters/userType'
        - $ref: '#/components/parameters/phoneMake'
        - $ref: '#/components/parameters/phoneModel'
        - $ref: '#/components/parameters/pushTokenType'
        - $ref: '#/components/parameters/sessionId'
        - schema:
            type: string
            example: '-6.188912,106.738236'
          in: query
          name: location
          required: true
        - schema:
            type: number
            default: 1
          in: query
          name: service_type
          required: true
        - schema:
            type: string
            default: map
          in: query
          name: source
          required: true
  /v1/dropoff-spots:
    get:
      summary: GET dropoff spots
      operationId: getDropoffSpots
      tags:
        - transport
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: getDropoffSpotsResponse
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      type:
                        type: string
                      source_location:
                        type: object
                        properties:
                          place_id:
                            type: string
                          name:
                            type: string
                          address:
                            type: string
                          image_url:
                            type: string
                          suggested_visibility_radius:
                            type: number
                      places:
                        type: array
                        items:
                          type: object
                          properties: {}
                x-examples:
                  Example 1:
                    data:
                      type: reverse_geocode
                      source_location:
                        place_id: GOOG-ChIJRVypzLf5aS4RBiq7S-HTyFk
                        name: Jl. Asia 2 No.70
                        address: 'Jl. Asia 2 No.70, RT.002/RW.006, Gondrong, Kec. Cipondoh, Kota Tangerang, Banten 15146, Indonesia'
                        image_url: 'https://api.gojekapi.com/maps/api/place/ChIJRVypzLf5aS4RBiq7S-HTyFk/photo'
                        suggested_visibility_radius: 99.67157647348982
                      places: []
      parameters:
        - $ref: '#/components/parameters/platform'
        - $ref: '#/components/parameters/gojekCountryCode'
        - $ref: '#/components/parameters/uniqueId'
        - $ref: '#/components/parameters/appVersion'
        - $ref: '#/components/parameters/appId'
        - $ref: '#/components/parameters/deviceOs'
        - $ref: '#/components/parameters/userType'
        - $ref: '#/components/parameters/phoneMake'
        - $ref: '#/components/parameters/phoneModel'
        - $ref: '#/components/parameters/pushTokenType'
        - $ref: '#/components/parameters/sessionId'
        - schema:
            type: string
            example: '-6.188912,106.738236'
          in: query
          name: location
          required: true
        - schema:
            type: number
            default: 1
          in: query
          name: service_type
          required: true
    parameters: []
components:
  parameters:
    appVersion:
      name: x-appversion
      in: header
      schema:
        type: string
        default: 4.59.1
    appId:
      name: x-appid
      in: header
      schema:
        type: string
        default: com.gojek.app
    deviceOs:
      name: x-deviceos
      in: header
      schema:
        type: string
        default: 'Android,10'
    userType:
      name: x-user-type
      in: header
      schema:
        type: string
        default: customer
    phoneMake:
      name: x-phonemake
      in: header
      schema:
        type: string
        default: Samsung
    phoneModel:
      name: x-phonemodel
      in: header
      schema:
        type: string
        default: GT-S7500
    pushTokenType:
      name: x-pushtokentype
      in: header
      schema:
        type: string
        default: FCM
    platform:
      name: x-platform
      in: header
      schema:
        type: string
        default: Android
    uniqueId:
      name: x-uniqueid
      in: header
      schema:
        type: string
        default: 95f99ddd6a5d34a9
    sessionId:
      name: x-session-id
      in: header
      schema:
        type: string
        default: d31cc210-a067-4d0d-a52f-199880ea8907
    gojekCountryCode:
      name: gojek-country-code
      in: header
      required: false
      schema:
        type: string
        default: ID
  securitySchemes:
    bearerToken:
      type: http
      scheme: bearer
security:
  - bearerToken: []
